@import "../app.scss";

.settings_container {
    display: flex;

    @extend .section;
}

.submenu {
    max-width: 200px;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    a {
        text-decoration: none;
        color: black;
    }
}
